<mat-toolbar color="primary" class="demo-app-header">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
  </button>

  <span>寵物 Demo</span>

  <!-- 在這之後的都會被推到右邊去 -->
  <span class="toolbar-seprator"></span>
</mat-toolbar>

<mat-sidenav-container class="demo-app-container">
  <mat-sidenav class="demo-app-sidenav" #sideNav mode="push" (opened)="opened()" (closed)="closed()">

    <div>
      <a routerLink="/dashboard">
        <button mat-raised-button color="basic" class="menuButton" (click)="toggleSideNav(sideNav)">首頁</button>
      </a>
    </div>
    <div>
      <a routerLink="/heroes123">
        <button mat-raised-button color="basic" class="menuButton"  (click)="toggleSideNav(sideNav)">寵物列表</button>
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav #sideNavEnd opened="true" mode="side" position="end">

  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




